<h1>Users#Login</h1>

<%= form_for :session, url: session_path do |f| %>

 <%= f.label :username %>:
 <%= f.text_field :username %><br />

 <%= f.label :password %>:
 <%= f.password_field :password %><br />

 <%= f.submit %>

<%end%>

<%= link_to "Forgetten?", @users %>
<%= link_to "Signup", new_session_path %>
