<!DOCTYPE html>
<html>
  <head>
    <title>NewProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Adding Bootstrap -->
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', media: 'all' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js' %>
    <!-- End Bootstrap -->
  </head>

  <body>
    <header class="header">
      <h1 class="logo"> <a href="/products"> Project</a></h1>
      <nav class="navbar">
        <a><%= link_to 'Home', root_path %></a>
        <a><%= link_to 'Products', products_path %></a>
        <a><%= link_to 'Add New Product', new_product_path %></a>
      </nav>
    </header>

    <section class="wrapper">

      <%= yield %>

    </section>
    <p class="userinfo">
    <% if current_user %>
    Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
    <% else %>
    <%= link_to "Log in", new_session_path %> or <%= link_to "Sing up", new_user_path %>
    <% end %>
    </p>
    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>
